body{
    background-color: #1a1a1a;
    margin: 0;
    color: azure;
}
.main-container{
    padding: 50px;
}
.player-container{
    margin: 0 auto;
    width: 200px;
}
#player-list{
    display: flex;
    flex-direction: column;
}