body {
  background-color: #040026;
  margin: 0;
  color: azure;
  font-family: "Rubik Vinyl", cursive;
}

.lobby-container {
  padding: 20px;
  font-size: x-large;
}
.player-container {
  margin: 0 auto;
  width: 200px;
}
#player-list th {
  padding-right: 30px;
}

.btn-container {
  width: 100px;
  margin: 0 auto;
}

.score {
  margin: auto;
  color: white;
  font-size: 2rem;
}

#start-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db; /* Button background color */
  color: #ffffff; /* Button text color */
  font-family: "Rubik Vinyl", sans-serif; /* Use the desired font family */
  font-weight: bolder;
  font-size: 22px; /* Button text size */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#start-btn:hover {
  background-color: #2960b9; /* Darker background color on hover */
}
#start-btn:disabled {
  cursor: default;
  background-color: #828282;
  color: #6d6d6d;
}

.wrapper {
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  /* width: 500px; */
  /* height: 500px; */
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.snake-selector {
  height: 500px;
  width: 100px;
  margin: 0 50px;
  background-color: rgb(51, 0, 255, 0.3);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.snake-type {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.snake-selector-ghost {
  /* display: none; */
  /* position: relative; */
  height: 500px;
  width: 100px;
  margin: 0 50px;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(50, minmax(0, 1fr));
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.tile {
  width: 10px;
  height: 10px;
  background-color: #040026;
}

.tile-snake {
  border-radius: 2px;
}

.tile-snake-white {
  background-color: white;
}
.tile-snake-yellow {
  background-color: #ffbe0b;
}
.tile-snake-orange {
  background-color: #fb5607;
}
.tile-snake-magenta {
  background-color: #ff006e;
}
.tile-snake-purple {
  background-color: #8338ec;
}
.tile-snake-blue {
  background-color: #3a86ff;
}

.tile-empty {
  background-color: #040026;
}

.tile-apple {
  background-image: url(sprites/apple.png);
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes bite-anim {
  0% {
  }
  50% {
    background-color: red;
  }
  100% {
  }
}

.tile-snakebite {
  animation-name: bite-anim;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.text-wrapper {
  width: 500px;
  margin: 0 auto;
}

.bottom-text {
  color: white;
  text-align: center;
  margin: auto 0;
  display: none;
  font-size: 2.5rem;
}

.blue-text {
  color: blue;
}

.white-text {
  color: white;
}
